{% macro input(form_name, name, icon, value="", placeholder="", type="text") -%}
<div class="input" id="{{ form_name }}-{{ name }}">
    <div class="input__container">
        <div class="input__container__icon input__container__icon--left">
            <i class="icon icon--{{ icon }}"></i>
        </div>
        <input
            class="input__container__input"
            name="{{ name }}"
            placeholder="{{ placeholder }}"
            type="{{ type }}"
            value="{{ value|e }}"
        >
        {% if type == "password" %}
        <div
            class="input__container__icon input__container__icon--right"
            data-toggle-password-input
            data-input-name="{{ form_name }}-{{ name }}"
        >
            <i class="icon icon--eye"></i>
        </div>
        {% endif %}
    </div>
    {% for message in get_flashed_messages(category_filter="%s.%s.error" | format(form_name, name)) %}
    <span class="input__error">
        {{ message }}
    </span>
    {% endfor %}
</div>
{%- endmacro %}