@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  background-color: #0C0A09;
  color: white;
  font-family: "Roboto", sans-serif;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1, h2, h3, p {
  margin: 0;
}

.button {
  align-items: center;
  border-radius: 6px;
  color: inherit;
  display: flex;
  gap: 4px;
  padding: 6px 12px;
  text-decoration: none;
}
.button--primary {
  background-color: #774D01;
}
.button--secondary {
  background-color: #464B45;
}
.button__text {
  color: inherit;
}

.footer {
  padding: 12px 24px;
  width: 100%;
}
@media (width < 40rem) {
  .footer {
    font-size: 12px;
    text-align: center;
  }
}

.icon {
  color: white;
  background-color: currentColor;
  display: block;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: 24px;
}
.icon--arrow-right {
  -webkit-mask-image: url("/static/icons/arrow-right.svg");
  mask-image: url("/static/icons/arrow-right.svg");
}
.icon--close {
  -webkit-mask-image: url("/static/icons/close.svg");
  mask-image: url("/static/icons/close.svg");
}
.icon--eye {
  -webkit-mask-image: url("/static/icons/eye.svg");
  mask-image: url("/static/icons/eye.svg");
}
.icon--eye-off {
  -webkit-mask-image: url("/static/icons/eye-off.svg");
  mask-image: url("/static/icons/eye-off.svg");
}
.icon--instagram {
  -webkit-mask-image: url("/static/icons/brand-instagram.svg");
  mask-image: url("/static/icons/brand-instagram.svg");
}
.icon--lock {
  -webkit-mask-image: url("/static/icons/lock.svg");
  mask-image: url("/static/icons/lock.svg");
}
.icon--login-2 {
  -webkit-mask-image: url("/static/icons/login-2.svg");
  mask-image: url("/static/icons/login-2.svg");
}
.icon--map-pin-share {
  -webkit-mask-image: url("/static/icons/map-pin-share.svg");
  mask-image: url("/static/icons/map-pin-share.svg");
}
.icon--menu {
  -webkit-mask-image: url("/static/icons/menu.svg");
  mask-image: url("/static/icons/menu.svg");
}
.icon--phone {
  -webkit-mask-image: url("/static/icons/phone.svg");
  mask-image: url("/static/icons/phone.svg");
}
.icon--user {
  -webkit-mask-image: url("/static/icons/user.svg");
  mask-image: url("/static/icons/user.svg");
}
.icon--whatsapp {
  -webkit-mask-image: url("/static/icons/brand-whatsapp.svg");
  mask-image: url("/static/icons/brand-whatsapp.svg");
}

.input__container {
  align-items: center;
  display: flex;
}
.input__container__icon--left, .input__container__icon--right {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.input__container__icon--left {
  background-color: #464B45;
  border-radius: 6px 0 0 6px;
}
.input__container__icon--right {
  background-color: #171717;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
.input__container__input {
  background-color: #171717;
  border: none;
  border-radius: 0 6px 6px 0;
  color: inherit;
  height: 32px;
  flex: 1;
  outline: none;
  padding: 0 12px;
}
.input__container__input:has(+ .input__container__icon--right) {
  border-radius: 0;
}
.input__error {
  color: #F44336;
  display: block;
  font-size: 12px;
  padding: 6px 12px;
}

.landing-page__about {
  display: flex;
  gap: 36px;
  padding: 0 24px 48px 24px;
  width: 100%;
}
@media (width < 40rem) {
  .landing-page__about {
    flex-flow: column;
    gap: 24px;
  }
}
.landing-page__about__image {
  background-image: url("/static/images/landing_page_himalayan450.jpeg");
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 24px;
  height: 0;
  padding-top: 51.2820512821%;
  width: 100%;
}
@media (width >= 48rem) {
  .landing-page__about__image {
    background-position: 0 66.6666666667%;
    height: 0;
    padding-top: 62.2222222222%;
    width: 350px;
  }
}
@media (width >= 64rem) {
  .landing-page__about__image {
    background-position: 0 -10px;
    height: 650px;
    padding-top: 0;
    width: 450px;
  }
}
.landing-page__about__content {
  display: flex;
  flex: 1;
  flex-flow: column;
}
@media (width >= 64rem) {
  .landing-page__about__content {
    height: 650px;
    justify-content: space-between;
  }
}
.landing-page__about__content__text {
  max-width: 600px;
}
@media (width >= 40rem) {
  .landing-page__about__content__text > .text--title {
    margin-top: 24px;
  }
}
.landing-page__about__content__text > p {
  font-size: 14px;
  line-height: 1.5em;
}
@media (width >= 40rem) {
  .landing-page__about__content__text > p {
    font-size: 20px;
  }
}
.landing-page__about__content__text > p:first-of-type {
  margin-top: 24px;
}
@media (width >= 40rem) {
  .landing-page__about__content__text > p:first-of-type {
    margin-top: 36px;
  }
}
.landing-page__about__content__text > p:nth-of-type(2) {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  margin-top: 1em;
}
.landing-page__about__content__info {
  display: flex;
  flex-flow: column;
  gap: 36px;
  margin-top: 60px;
  width: 100%;
}
@media (width >= 48rem) {
  .landing-page__about__content__info {
    gap: 12px;
    margin-top: 36px;
  }
}
@media (width >= 64rem) {
  .landing-page__about__content__info {
    align-items: end;
    flex-flow: row-reverse;
    gap: 0;
    justify-content: space-between;
    margin-top: 0;
  }
}
.landing-page__about__content__info__stats, .landing-page__about__content__info__social-networks {
  display: flex;
  gap: 8px;
}
@media (width >= 64rem) {
  .landing-page__about__content__info__stats, .landing-page__about__content__info__social-networks {
    flex-flow: column-reverse;
  }
}
.landing-page__about__content__info__stats {
  align-items: end;
  gap: 8px;
}
@media (width >= 64rem) {
  .landing-page__about__content__info__stats {
    gap: 12px;
  }
}
.landing-page__about__content__info__stats > .button .button__text {
  font-size: 12px;
}
@media (width >= 64rem) {
  .landing-page__about__content__info__stats > .button .button__text {
    font-size: 20px;
  }
}
.landing-page__about__content__info__stats > .button .button__text > span {
  font-family: "Righteous", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (width >= 64rem) {
  .landing-page__about__content__info__stats > .button .button__text > span {
    font-size: 32px;
  }
}
.landing-page__about__content__info__social-networks {
  gap: 12px;
}
.landing-page__about__content__info__social-networks > a {
  align-items: center;
  display: flex;
  gap: 4px;
  text-decoration: none;
}
@media (width >= 64rem) {
  .landing-page__about__content__info__social-networks > a {
    gap: 8px;
  }
}
.landing-page__about__content__info__social-networks > a > .icon {
  height: 24px;
  width: 24px;
}
@media (width >= 64rem) {
  .landing-page__about__content__info__social-networks > a > .icon {
    height: 36px;
    width: 36px;
  }
}
.landing-page__about__content__info__social-networks > a > span {
  font-size: 12px;
}
@media (width >= 64rem) {
  .landing-page__about__content__info__social-networks > a > span {
    font-size: 14px;
  }
}
.landing-page__roadtrips {
  background-color: #171717;
  padding: 24px;
}
@media (width >= 64rem) {
  .landing-page__roadtrips {
    padding: 24px 0;
  }
}
@media (width >= 64rem) {
  .landing-page__roadtrips > .text--title {
    margin-left: 72px;
  }
}
.landing-page__roadtrips__content {
  display: flex;
  flex-flow: column;
  margin-top: 24px;
  position: relative;
}
@media (width < 40rem) or (width >= 64rem) {
  .landing-page__roadtrips__content {
    height: auto !important;
  }
}
@media (width >= 40rem) {
  .landing-page__roadtrips__content {
    flex-flow: row;
  }
}
@media (width >= 64rem) {
  .landing-page__roadtrips__content {
    align-items: center;
    flex-flow: row;
    margin: 24px 0;
  }
}
@media (width >= 64rem) {
  .landing-page__roadtrips__content__first {
    display: flex;
    margin: 8.3333333333% 0;
    position: relative;
    width: 500px;
  }
  .landing-page__roadtrips__content__first::before {
    background-color: #262626;
    border-radius: 50%;
    content: "";
    display: block;
    height: 720px;
    left: -500px;
    position: absolute;
    top: -12.5%;
    width: 1000px;
    z-index: 0;
  }
  .landing-page__roadtrips__content__first > div {
    margin-left: 48px;
    position: relative;
    z-index: 1;
  }
}
.landing-page__roadtrips__content__rest {
  display: flex;
  flex-flow: column;
  gap: 24px;
  margin-top: 24px;
}
@media (width >= 40rem) and (width < 64rem) {
  .landing-page__roadtrips__content__rest {
    flex-flow: row;
    flex-wrap: wrap;
    left: 0;
    margin-top: 0;
    position: absolute;
  }
  .landing-page__roadtrips__content__rest > div:first-of-type {
    margin-left: 344px;
  }
}
@media (width >= 64rem) {
  .landing-page__roadtrips__content__rest {
    align-items: center;
    flex: 1;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 96px;
    justify-content: center;
    margin-top: 0;
    padding: 0 48px;
  }
}
.landing-page__roadtrips__content__roadtrip {
  display: grid;
  gap: 16px;
  grid-template-areas: "image info" "image actions";
  grid-template-columns: 120px auto;
}
@media (width >= 40rem) {
  .landing-page__roadtrips__content__roadtrip {
    grid-template-areas: "info" "image" "actions";
    grid-template-columns: 1fr;
  }
}
@media (width >= 64rem) {
  .landing-page__roadtrips__content__roadtrip {
    grid-template-areas: "info" "image" "actions";
    grid-template-columns: 1fr;
  }
}
.landing-page__roadtrips__content__roadtrip__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 6px;
  grid-area: image;
  height: 120px;
  width: 120px;
}
@media (width >= 40rem) {
  .landing-page__roadtrips__content__roadtrip__image {
    height: 520px;
    width: 320px;
  }
}
.landing-page__roadtrips__content__roadtrip__info {
  display: flex;
  flex-flow: column;
  gap: 4px;
  grid-area: info;
}
.landing-page__roadtrips__content__roadtrip__info > h3 {
  font-size: 16px;
  font-weight: medium;
}
@media (width >= 64rem) {
  .landing-page__roadtrips__content__roadtrip__info > h3 {
    font-size: 24px;
    text-align: center;
  }
}
.landing-page__roadtrips__content__roadtrip__info > p {
  font-size: 14px;
}
@media (width >= 40rem) {
  .landing-page__roadtrips__content__roadtrip__info > p {
    display: none;
  }
}
.landing-page__roadtrips__content__roadtrip__actions {
  display: flex;
  justify-content: start;
  grid-area: actions;
}
@media (width < 40rem) {
  .landing-page__roadtrips__content__roadtrip__actions > a {
    font-size: 12px;
    padding: 2px 4px;
  }
  .landing-page__roadtrips__content__roadtrip__actions > a .icon {
    height: 16px;
    width: 16px;
  }
}
@media (width >= 64rem) {
  .landing-page__roadtrips__content__roadtrip__actions {
    justify-content: center;
  }
}

.main-navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 36px;
  width: 100%;
}
@media (width < 40rem) {
  .main-navigation {
    padding: 24px;
  }
}
.main-navigation__logo {
  align-items: center;
  display: flex;
  gap: 16px;
}
.main-navigation__logo__open-menu-button {
  margin-right: 8px;
}
@media (width >= 40rem) {
  .main-navigation__logo__open-menu-button {
    display: none;
  }
}
.main-navigation__logo__image {
  background-image: url("/static/images/icon.jpeg");
  background-position: center;
  background-size: 45px;
  border-radius: 22.5px;
  width: 45px;
  height: 45px;
}
.main-navigation__logo__text {
  font-size: 20px;
  font-weight: bold;
}
@media (width >= 40rem) {
  .main-navigation__logo__text {
    font-size: 24px;
  }
}
.main-navigation__nav {
  display: flex;
  gap: 24px;
  position: relative;
}
@media (width < 40rem) {
  .main-navigation__nav {
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}
.main-navigation__nav__bg {
  background-color: #171717;
  height: 100%;
  opacity: 75%;
  width: 100%;
}
@media (width >= 40rem) {
  .main-navigation__nav__bg {
    display: none;
  }
}
.main-navigation__nav__content {
  display: flex;
  gap: 24px;
}
@media (width < 40rem) {
  .main-navigation__nav__content {
    background-color: #0C0A09;
    box-shadow: 2px 0px 8px 0px #0C0A09;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;
    padding: 24px;
    position: absolute;
    width: 80%;
  }
}
@media (width >= 40rem) {
  .main-navigation__nav__content__header {
    display: none;
  }
}
.main-navigation__nav__content__ul {
  align-items: center;
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (width < 40rem) {
  .main-navigation__nav__content__ul {
    align-items: start;
    flex-flow: column;
    width: 100%;
  }
}
@media (width < 40rem) {
  .main-navigation__nav__content__ul--top {
    align-items: start;
    flex: 1;
  }
}
.main-navigation__nav__content__ul__li__a {
  font-size: 16px;
  text-decoration: none;
}

.signin-page {
  display: flex;
  flex: 1;
  padding: 12px 36px;
}
.signin-page__left {
  min-width: 300px;
}
.signin-page__left__form {
  align-items: end;
  display: flex;
  flex-flow: column;
  gap: 12px;
  margin-top: 36px;
}
.signin-page__left__form__flash-message {
  background-color: #F44336;
  border-radius: 6px;
  font-size: 14px;
  padding: 6px 12px;
}
.signin-page__left__form > .input {
  min-width: 300px;
  width: 100%;
}

.signup-page {
  display: flex;
  flex: 1;
  padding: 12px 36px;
}
.signup-page__left {
  min-width: 300px;
}
.signup-page__left__form {
  align-items: end;
  display: flex;
  flex-flow: column;
  gap: 12px;
  margin-top: 36px;
}
.signup-page__left__form > .input {
  width: 100%;
}

.text--title {
  align-items: center;
  display: flex;
  font-size: 32px;
  gap: 12px;
}
.text--title::before {
  background-color: #EBC922;
  border-radius: 2px;
  content: "";
  display: block;
  height: 1.25em;
  width: 4px;
}

/*# sourceMappingURL=main.css.map */
