@use 'base';

.button {
    align-items: center;
    border-radius: 6px;
    color: inherit;
    display: flex;
    gap: 4px;
    padding: 6px 12px;
    text-decoration: none;

    &--primary {
        background-color: base.$primary-color;
    }
    &--secondary {
        background-color: base.$secondary-color;
    }
    &__icon {
        &--left {}
    }
    &__text {
        color: inherit;
    }
}
