@use 'base';

.button {
    align-items: center;
    border-radius: 6px;
    color: inherit;
    display: flex;
    gap: 4px;
    padding: 6px 12px;
    text-decoration: none;

    &--primary {
        background-color: base.$primary-color;
    }
    &--secondary {
        background-color: base.$secondary-color;
    }
    &__text {
        color: inherit;
    }
}

.flash-message {
    border-radius: 6px;
    display: block;
    font-size: 14px;
    padding: 6px 12px;
    text-align: center;
    width: 100%;

    &--error {
        background-color: base.$error-color;
    }
}

.input {
    &__container {
        $self: &;

        align-items: center;
        display: flex;

        &__icon {
            &--left, &--right {
                align-items: center;
                display: flex;
                height: 32px;
                justify-content: center;
                width: 32px;
            }
            &--left {
                background-color: base.$secondary-color;
                border-radius: 6px 0 0 6px;
            }
            &--right {
                background-color: base.$secondary-background-color;
                border-radius: 0 6px 6px 0;
                cursor: pointer;
            }
        }
        &__input {
            background-color: base.$secondary-background-color;
            border: none;
            border-radius: 0 6px 6px 0;
            color: inherit;
            height: 32px;
            flex: 1;
            outline: none;
            padding: 0 12px;

            &:has( + #{$self}__icon--right) {
                border-radius: 0;
            }
        }
    }
    &__error {
        color: base.$error-color;
        display: block;
        font-size: 12px;
        padding: 6px 12px;
    }
}
