.icon {
    color: white;
    background-color: currentColor;
    display: block;
    height: 24px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 24px;

    &--arrow-right {
        -webkit-mask-image: url("/static/icons/arrow-right.svg");
        mask-image: url("/static/icons/arrow-right.svg");
    }
    &--close {
        -webkit-mask-image: url("/static/icons/close.svg");
        mask-image: url("/static/icons/close.svg");
    }
    &--eye {
        -webkit-mask-image: url("/static/icons/eye.svg");
        mask-image: url("/static/icons/eye.svg");

        &-off {
            -webkit-mask-image: url("/static/icons/eye-off.svg");
            mask-image: url("/static/icons/eye-off.svg");
        }
    }
    &--instagram {
        -webkit-mask-image: url("/static/icons/brand-instagram.svg");
        mask-image: url("/static/icons/brand-instagram.svg");
    }
    &--lock {
        -webkit-mask-image: url("/static/icons/lock.svg");
        mask-image: url("/static/icons/lock.svg");
    }
    &--login-2 {
        -webkit-mask-image: url("/static/icons/login-2.svg");
        mask-image: url("/static/icons/login-2.svg");
    }
    &--map-pin-share {
        -webkit-mask-image: url("/static/icons/map-pin-share.svg");
        mask-image: url("/static/icons/map-pin-share.svg");
    }
    &--menu {
        -webkit-mask-image: url("/static/icons/menu.svg");
        mask-image: url("/static/icons/menu.svg");
    }
    &--phone {
        -webkit-mask-image: url("/static/icons/phone.svg");
        mask-image: url("/static/icons/phone.svg");
    }
    &--user {
        -webkit-mask-image: url("/static/icons/user.svg");
        mask-image: url("/static/icons/user.svg");
    }
    &--whatsapp {
        -webkit-mask-image: url("/static/icons/brand-whatsapp.svg");
        mask-image: url("/static/icons/brand-whatsapp.svg");
    }
}
