@use 'base';

.signin-page {
    display: flex;
    flex: 1;
    padding: 12px 36px;

    &__left {
        min-width: 300px;

        &__form {
            align-items: end;
            display: flex;
            flex-flow: column;
            gap: 12px;
            margin-top: 36px;

            &__flash-message {
                background-color: base.$error-color;
                border-radius: 6px;
                font-size: 14px;
                padding: 6px 12px;
            }
            & > .input {
                min-width: 300px;
                width: 100%;
            }
        }
    }
}
