@use 'base';

.signup-page {
    display: flex;
    flex: 1;
    padding: 12px 36px;

    &__left {
        min-width: 300px;

        &__form {
            align-items: end;
            display: flex;
            flex-flow: column;
            gap: 12px;
            margin-top: 36px;

            & > .input {
                width: 100%;
            }
        }
    }
}
