{% from "helpers/roadtrips.html" import render_roadtrip %}
{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section class="landing-page__about">
    <div class="landing-page__about__image"></div>
    <section class="landing-page__about__content">
        <div class="landing-page__about__content__text">
            <h2 class="text text--title">¿Quiénes somos?</h2>
            <p>
                <b>HIMALEGENDS</b> es un grupo de moteros de la <b>Royal Enfield Himalayan</b>,
                ubicados principalmente en Antioquia, salimos a disfrutar de la moto en diferentes
                rutas: Trocha, pueblitos o charcos.
            </p>
            <p>
                "Unidos por la ruta y el motor.<br />
                Amistad, libertad y aventura sin límites.<br />
                Aquí nacen las leyendas."
            </p>
        </div>
        <div class="landing-page__about__content__info">
            <div class="landing-page__about__content__info__stats">
                <div class="button button--secondary">
                    <p class="button__text"><span>+500</span> Integrantes</p>
                </div>
                <div class="button button--primary">
                    <p class="button__text"><span>{{roadtrips_count}}</span> Rodada{% if roadtrips_count != 1 %}s{% endif %}</p>
                </div>
            </div>
            <div class="landing-page__about__content__info__social-networks">
                <a href="https://www.instagram.com/himalegends" target="_blank">
                    <i class="icon icon--instagram"></i>
                    <span>@himalegends</span>
                </a>
                <a href="/" target="_blank">
                    <i class="icon icon--whatsapp"></i>
                    <span>Únete a nuestro grupo</span>
                </a>
            </div>
        </div>
    </section>
</section>

<section class="landing-page__roadtrips">
    <h2 class="text text--title">Rodadas</h2>
    {% if recent_roadtrips %}
    {% set roadtrips_rest_height = 607 * (recent_roadtrips.rest|length // 2 + 1) + (24 * recent_roadtrips.rest|length // 2) %}
    <div class="landing-page__roadtrips__content" style="height: {{ roadtrips_rest_height }}px;">
        <div class="landing-page__roadtrips__content__first">
            {{ render_roadtrip(recent_roadtrips.first) }}
        </div>
        <div class="landing-page__roadtrips__content__rest">
            {% for roadtrip in recent_roadtrips.rest %}
            {{ render_roadtrip(roadtrip) }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}